
#movie_search{
    display: flex;
    font-size: 1.8rem;
    margin: 3rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    background-color: red;    
}

.invisible{
    display: none ;
}
#movie_search>img{
    height: 35rem;
    width: 30rem;
    margin-right: 2rem;
    border-radius: 5px;
}
#movie_search>div{
    display: flex;
    flex-direction: column;

}

#movie_search p span{float: right;}


#form>input{
    width: 100%;
}

#search_dropdown{
    display: flex;
    flex-wrap: wrap;
}
#search_dropdown img{
    height: 3rem;
    width: 2rem;
}
#search_dropdown div{
    width: 33%;
}

@media only screen and (max-width: 768px){
    #movie_search{
        font-size: 1.4rem;
    }

    #movie_search>img{
        height: 25rem;
        width: 20rem;
    }

}

#similar_movies{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.similar_div{
    background-color: yellowgreen;
    width: 30%;
    margin: 1rem

}
.similar_div img{
    height: 5rem;
    width: 4rem;}
