:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8)
}

/********************************************************************************************************************************* H T M L */

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

/********************************************************************************************************************************* B O D Y */

body {
    padding: 1rem;
    background: #ccc;
    margin: 0;
    line-height: 1.4;
    display: grid;
    grid-template-areas: 
      "header header"
      "slider best"
      "top-rated best"
      "footer footer";
    grid-template-rows: 80px 0.5fr 0.9fr 50px;  
    grid-template-columns: 75% 1fr;
    grid-row-gap: 5rem;
    grid-column-gap: 2rem;
    height: 100vh;
} 

img {
    max-width: 100%;
}

/***************************************************************************************************************************** H E A D E R */

.header {
    grid-area: header;
    grid-gap: 20px;
}

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}

.btn {
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

/***************************************************************************************************************************** S L I D E R */

.slider {
    grid-area: slider;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'slide1 slide2 slide3';
}
.slide1 {
    grid-area: slide1;
    width: 100%;
    height: 100%;
    display: flex;
}
.slide2 {
    grid-area: slide2;
    width: 100%;
    height: 100%;
    display: flex;
}
.slide3 {
    grid-area: slide3;
    width: 100%;
    height: 100%;
    display: flex;
}
.slide4 {
    grid-area: slide1;
    width: 100%;
    height: 100%;
    display: none;
}

.slide5 {
    grid-area: slide2;
    width: 100%;
    height: 100%;
    display: none;
}
.slide6 {
    grid-area: slide3;
    width: 100%;
    height: 100%;
    display: none;
}
.slide7 {
    grid-area: slide1;
    width: 100%;
    height: 100%;
    display: none;
}

.slide8 {
    grid-area: slide2;
    width: 100%;
    height: 100%;
    display: none;
}
.slide9 {
    grid-area: slide3;
    width: 100%;
    height: 100%;
    display: none;
}
.slide10 {
    grid-area: slide3;
    width: 100%;
    height: 100%;
    display: none;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  padding: 1rem;
  transform: translate(50%, -50%);
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev {
    left: -0.3%;
    border-radius: 3px 0 0 3px;
  }

.next {
  right: 27%;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--light);
}

/********************************************************************************************************************************* B E S T */

.best { 
    grid-area: best;
    display: grid; 
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
}

/*********************************************************************************************************************** T O P   R A T E D */

.top-rated { 
    grid-area: top-rated; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/***************************************************************************************************************************** F O O T E R */

.footer {
grid-area: footer;
background: var(--primary);
box-shadow: var(--shadow);
}

.footer-nav ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
}

.footer-nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #333;
    font-size: 1rem;
}

/************************************************************************************************************************** M E D I A  600px */

/* Stack the layout on small devices/viewports - Mobile phones. */
@media all and (max-width: 600px) {
body { 
    grid-template-areas: 
    "header"
    "slider"
    "top-rated"
    "best"
    "footer";
    grid-template-rows: 80px 1fr 1fr 1fr 50px;  
    grid-template-columns: 1fr;
    }
.main-nav ul {
    grid-template-columns: 1fr;
    }
.slider { 
    grid-area: slider;
    display: block;
    position: relative;
    margin-top: 13rem;
    grid-template-areas: 
    'slide1';
    }
.slide1 {
    grid-area: slide1;
    margin: 0;
    padding: 0;
    }
.slide2 {
    grid-area: slide2;
    width: 100%;
    height: 100%;
    display: none;
    }
.slide3 {
    grid-area: slide3;
    width: 100%;
    height: 100%;
    display: none;
    }
.prev,
.next {
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 1.5rem;
    }
.prev {
    left: -5%;
    border-radius: 3px 0 0 3px;
    }
.next {
    right: 5%;
    border-radius: 3px 0 0 3px;
    }
.top-rated {
    grid-template-columns: 1fr;
    }
.best { 
    grid-template-rows: 1fr;
    grid-gap: 20px;
    width: 100%;
    }
.footer-nav ul {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    }
}

/************************************************************************************************************************** M E D I A  768px */

/* Stack the layout on medium devices/viewports - Tablets. */
@media all and (min-width: 600px) and (max-width: 768px) {
    body { 
        grid-template-areas: 
        "header header"
        "slider slider"
        "top-rated top-rated"
        "best best"
        "footer footer";
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;  
        grid-template-columns: 1fr 1fr;
        }
    .main-nav ul {
        grid-template-columns: 1fr 1fr;
        }
    .slider {
        grid-area: slider;
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 
        'slide1 slide2';
        }
    .slide1 {
        grid-area: slide1;
        width: 100%;
        height: 100%;
        display: flex;
        }
    .slide2 {
        grid-area: slide2;
        width: 100%;
        height: 100%;
        display: flex;
        }
    .slide3 {
        grid-area: slide3;
        width: 100%;
        height: 100%;
        display: none;
    }
    .prev,
    .next {
        top: 22rem;
        transform: translate(50%, -50%);
        font-size: 1.5rem;
        }
    .prev {
        left: 0rem;
        border-radius: 3px 0 0 3px;
        }
    .next {
        right: 2.5rem;
        border-radius: 3px 0 0 3px;
        }
    .top-rated {
        grid-template-columns: repeat(2, 1fr);
        }
    .best { 
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        }
    .footer-nav ul {
        grid-template-columns: repeat(4, 1fr);
        display: grid;
        padding: 0;
        }
    }

